{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<h1>Your shopping cart</h1>
<div class="container mt-4 ml-3">
   <table class="table table-bordered table-striped">
      <thead>
         <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
         </tr>
      </thead>
      <tbody>
         {% for item in cart %}
         {% with product=item.product %}
         <tr>
            <td>
               <a href="{{ product.get_absolute_url }}">
               <img style="max-height: 100px;" src="{% if product.p_image %} {{ product.p_image }}
               {% else %}{% static "img/no_image.png" %}{% endif %}">
               </a>
            </td>
            <td>{{ product.product_name }}</td>
            <td>
               <form action="{% url "cart:cart_add" product.p_id %}" method="post">
               {{ item.update_quantity_form.quantity }}
               {{ item.update_quantity_form.override }}
               <button type="submit" class="btn btn-primary">Update</button>
               {% csrf_token %}
               </form>
            </td>
            <td>
               <form action="{% url "cart:cart_remove" product.p_id %}" method="post">
               <button type="submit" class="btn btn-danger">Remove</button>
               {% csrf_token %}
               </form>
            </td>
            <td class="num">EGP {{ item.price | floatformat }}</td>
            <td class="num">EGP {{ item.total_price | floatformat }}</td>
         </tr>
         {% endwith %}
         {% endfor %}
          {% if cart.coupon %}
            <tr class="subtotal">
              <td>Subtotal</td>
              <td colspan="4"></td>
              <td class="num">${{ cart.get_total_price|floatformat:2 }}</td>
            </tr>
            <tr>
              <td>
                "{{ cart.coupon.code }}" coupon
                ({{ cart.coupon.discount }}% off)
              </td>
              <td colspan="4"></td>
              <td class="num neg">
                - ${{ cart.get_discount|floatformat:2 }}
              </td>
            </tr>
          {% endif %}
          <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">
              ${{ cart.get_total_price_after_discount|floatformat:2 }}
            </td>
          </tr>
      </tbody>
   </table>
</div>
{% if cart|length > 0 %}
<div class="card">
    <div class="card-body">
        <p class="card-text">Apply a coupon:</p>

        {% if cart.coupon %}
            <p>Your current coupon: {{ cart.coupon.code }} ({{ cart.coupon.discount }}% off)</p>
        {% else %}
            <form action="{% url "coupons:apply" %}" method="post" class="d-inline">
                {{ coupon_apply_form|crispy }}
                <input type="submit" value="Apply" class="btn btn-success">
                {% csrf_token %}
            </form>
        {% endif %}

        {% if cart.coupon %}
            <form method="post" action="{% url 'coupons:remove' %}" class="d-inline">
                {% csrf_token %}
                <input type="submit" value="Remove Coupon" class="btn btn-danger" >
            </form>
        {% endif %}
    </div>
</div>


<p class="text-right">
   <a href="{% url "shop:product_list" %}" class="btn btn-primary">Continue shopping</a>
   <a href="{% url "orders:order_create" %}" class="btn btn-success">Checkout</a>
</p>
{% else %}
<p>Your cart is empty.</p>
<a href="{% url "shop:product_list" %}" class="button light">Continue shopping</a>
{% endif %}
{% endblock %}