{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %} {% block title %}Update Profile{% endblock %} {% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 80rem; border: 3px solid #0a6732;">
        <div class="card-body">
            <h1 class="text-center mb-4" style="color:#0a6732;">Update Profile</h1>
            <form method="post" class="text-center">
                {% csrf_token %}
                <div class="form-group lead" style="font-weight: bold">
                    <label for="id_first_name">First Name:</label>
                    <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ profile_form.first_name.value }}">
                </div>
                <div class="form-group lead" style="font-weight: bold">
                    <label for="id_last_name">Last Name:</label>
                    <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ profile_form.last_name.value }}">
                </div>
                <div class="form-group lead" style="font-weight: bold">
                    <label for="id_email">Email:</label>
                    <input type="email" class="form-control" id="id_email" name="email" value="{{ profile_form.email.value }}">
                </div>
                <div class="form-group lead" style="font-weight: bold">
                    <label for="id_phone_number">Phone Number:</label>
                    <input type="text" class="form-control" id="id_phone_number" name="phone_number" value="{{ profile_form.phone_number.value }}">
                </div>
                <div class="form-group lead" style="font-weight: bold">
                    <label for="id_birth_date">Date of Birth:</label>
                    <input type="date" class="form-control" id="id_birth_date" name="birth_date" value="{{ profile_form.birth_date.value }}">
                </div>
                <div class="form-group lead" style="font-weight: bold">
                    <label for="id_address">Address:</label>
                    <input type="text" class="form-control" id="id_address" name="address" value="{{ profile_form.address.value }}">
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-success py-1 px-4">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}