{% extends "base.html" %}
{% load static %}

{% block title %}Update Profile{% endblock %}

{% block content %}
    <h2>Update Profile</h2>
    <form method="post">
        {% csrf_token %}
        
        <div>
            <label for="id_first_name">First Name:</label>
            {{ profile_form.first_name }}
        </div>

        <div>
            <label for="id_last_name">Last Name:</label>
            {{ profile_form.last_name }}
        </div>

        <div>
            <label for="id_email">Email:</label>
            {{ profile_form.email }}
        </div>

        <div>
            <label for="id_date_of_birth">Date of Birth:</label>
            {{ profile_form.date_of_birth }}
            <b style=" font-weight: bold; font-size: small;">Format: YYYY-MM-DD</b>
        </div>

        <div>
            <label for="id_phone_number">Phone Number:</label>
            {{ profile_form.phone_number }}
        </div>
        <div>
            <label for="id_address">Default Address:</label>
            {{ profile_form.address }}
            <a href="{% url 'add_address' %}" style="margin-left: 4px; font-weight: bold; font-size: small;">Add another Address</a>
        </div>

        <button type="submit">Update</button>
    </form>
    <a href="{% url 'shop:product_list' %}">Back to Home</a>
{% endblock %}
