{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %}
Checkout {% endblock %} {% block content %}
<h1>Checkout</h1>
<div class="order-info">
  <h3>Your order</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
        <tr>
          <td>{{ item.product.product_name }}</td>
          <td>{{ item.quantity }}</td>
          <td>
            {% if item.product.discount %} EGP
            {{item.product.discounted_price|floatformat:2 }} {% else %} EGP
            {{item.product.price|floatformat:2}} {% endif %}
          </td>
          <td>EGP {{ item.total_price|floatformat:2 }}</td>
        </tr>
        {% endfor %}
        {% if cart.coupon %}
            <tr class="subtotal">
              <td>Subtotal</td>
              <td colspan="2"></td>
              <td class="num">EGP {{ cart.get_total_price|floatformat:2 }}</td>
            </tr>
            <tr>
              <td>
                "{{ cart.coupon.code }}" coupon
                ({{ cart.coupon.discount }}% off)
              </td>
              <td colspan="2"></td>
              <td class="num neg">
                - EGP {{ cart.get_discount|floatformat:2 }}
              </td>
            </tr>
          {% endif %}
          <tr class="total">
            <td>Total</td>
            <td colspan="2"></td>
            <td class="num">
              EGP {{ cart.get_total_price_after_discount|floatformat:2 }}
            </td>
          </tr>
      </tbody>
    </table>
  </div>  
</div>
    <div class="customer-info">
        <h4 class="mb-3">Customer Information</h4>

        <div class="row mb-3">
            <div class="col-md-3">
                <label for="first-name" class="form-label">First Name</label>
                <p class="form-control-static">{{ user.first_name }}</p>
            </div>
            <div class="col-md-3">
                <label for="last-name" class="form-label">Last Name</label>
                <p class="form-control-static">{{ user.last_name }}</p>
            </div>
            <div class="col-md-6">
              <form method="post" class="order-form">
                {{ form|crispy }}
                <p><input type="submit" value="Place order" /></p>
                {% csrf_token %}
              </form>
            </div>
        </div>

{% endblock %}
