{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>{{ user.username }}'s Orders</h1>

  {% if orders %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date Placed</th>
        <th>Total Price</th>
        <th>Number of Items</th>
        
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.created }}</td>
        <td>EGP {{ order.get_total_cost_before_discount }}</td>
        <td>{{ order.get_total_items }}</td>
    
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No orders available for {{ user.username }}.</p>
  {% endif %}
</div>
{% endblock %}
