{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log-in{% endblock %}
{% block content %}
<main class="w-100 m-auto">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-body">
            <h1 class="main-heading">Login</h1>
            {% if form.errors %}
            <p>
            Your username and password didn't match.
            Please try again.
            </p>
            {% else %}
            <p class="p2">Please, enter username and password to log-in</p2>
            {% endif %}
            <form method="post">{% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-success ml-2" type="submit">Log In</button>
            </form>
            <br>
            <p>
                If you don't have an account, <a href="{% url "register" %}">register here</
            a>.
            </p>
            <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}