{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/CSS/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div class="logo-container">
          <a href="{% url "shop:product_list" %}" class="logo-link">
            <img src="{% static 'logoo.png' %}" alt="Logo Image" class="logo-img">
            <span class="logo-text">GroceryGo</span>
          </a>
            {% if request.user.is_authenticated %}
            <ul class="menu">
              <li {% if section == "Products" %}class="selected"{% endif %}>
                <a href="#">Products</a>
              </li>
              <li {% if section == "SuperMarket" %}class="selected"{% endif %}>
                <a href="#">Super Market</a>
              </li>
              <li {% if section == "myacc" %}class="selected"{% endif %}>
                <a href="{% url "account_details" %}">My Account</a>
              </li>
              <li {% if section == "cart" %}class="selected"{% endif %}>
                <a href="#">My cart</a>
              </li>
            </ul>
          {% endif %}
          <span class="user">
            {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name|default:request.user.username }},
            <a href="{% url "logout" %}">Logout</a>
        {% else %}
            {% if request.resolver_match.url_name == "register" %}
                <a href="{% url "login" %}">Login</a>
            {% else %}
                <a href="{% url "register" %}">Register</a>
            {% endif %}
        {% endif %}        
          </span>
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% if section == 'home' %}
          <h1>Welcome to GroceryGo</h1>
        {% endif %}
        {% endblock %}
    </div>
</body>
</html>
