{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/CSS/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div class="logo-container">
          <a href="{% url "shop:product_list" %}" class="logo-link">
            <img src="{% static 'logoo.png' %}" alt="Logo Image" class="logo-img">
            <span class="logo-text">GroceryGo</span>
          </a>
            {% if request.user.is_authenticated %}
            <ul class="menu">
              <li>
            </li>
              <li {% if section == "myacc" %}class="selected"{% endif %}>
                <a href="{% url "account" %}">My Account</a>
              </li>
              <li {% if section == "cart" %}class="selected"{% endif %}>
                <a href="{% url "cart:cart_detail" %}">My cart</a>
              </li>
            </ul>
          {% endif %}
          <div class="user-info">
            <span class="hello-message">
                {% if request.user.is_authenticated %}
                        <div class="user-info">
                            <span class="hello-message">Hello {{ request.user.first_name|default:request.user.username }},</span>
                            <span class="logout-button">
                                <a class="nav-link" href="{% url "logout" %}">Logout</a>
                            </span>
                        </div>
                {% endif %}
            </div>
        </nav>
            

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
               {% include 'search_form.html' %}
            </div>
        </div>

    <div id="content" class="container">
      <div class="row">{% block content %}{% endblock %}</div>
    </div>

    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "script.js" %}"></script>
  </body>
</html>
