{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block title %}
{% if category %}{{ category.category_name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}


<div class="row">
   <!-- Left Side (Filters and Forms) -->
   <div class="col-md-3 mt-5">
      <form method="get" action="{% url 'shop:product_list' %}">
         {{ filter_form.as_p }}
         <input type="submit" value="Apply" class="btn btn-success">
      </form>
      <h3 style="margin-top: 70px">Categories</h3>
      <div class="list-group">
         <a class="list-group-item list-group-item-action {% if not category %}active{% endif %}" href="{% url "shop:product_list" %}">All</a>
         {% for c in categories %}
         <a href="{{ c.get_absolute_url }}" class="list-group-item list-group-item-action {% if category and category.category_name == c.category_name %}active{% endif %}" aria-current="true">{{ c.category_name }}&nbsp;<span class="badge text-bg-secondary">{{ c.product_count }}</span></a>
         {% endfor %}
      </div>
   </div>
   <!-- Right Side (Products) -->
   <div class="col-md-9 mt-4">
      <h1>{% if category %}{{ category.category_name }}{% else %}All Products{% endif %}</h1>
      <div class="row">
         {% for product in products %}
         <div class="col-lg-3 col-md-6 mb-4">
            <div class="module"></div>
            <div class="card position-relative" style="height: 420px;">
               {% if product.company.nationality == 'EGY' %}
               <div class="position-absolute top-0 end-0 translate-middle badge bg-danger egypt" style="margin-top: 9px; margin-right: -51px;">
                  <span class="text-stroke" style="color: white; -webkit-text-stroke: 0.5px black;">100% Egyptian</span>
               </div>
               {% endif %}
               <img src="{% if product.p_image %}{{ product.p_image }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="card-img-top" alt="{{ product.product_name }}" style="height: 200px; object-fit: contain;">
               <div class="card-body">
                  <h5 class="card-title"><a href="{{ product.get_absolute_url }}" class="text-decoration-none text-black">{{ product.product_name }}</a></h5>
                  {% if product.discount %}
                  <p class="card-text">EGP {{ product.cal_discount }}</p>
                  {% comment "Edit this discount" %}{% endcomment %}
                  <span class="badge text-bg-secondary">{{ product.discount|mul:100 }}% Discount</span>
                  {% else %}
                  <p class="card-text">EGP {{ product.price }}</p>
                  {% endif %}
                  {% if product.stock == 0 %}
                  <button type="submit" class="btn btn-danger" disabled >Out of Stock</button>
                  {% else %}
                  <form action="{% url 'cart:cart_add' product.p_id %}" method="post" class="d-flex justify-content-between">
                     {{ cart_product_form|crispy }}
                     {% csrf_token %}
                     <button type="submit" class="btn btn-success cart-submit-button">Add to Cart</button>
                  </form>
                  {% endif %}
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
<!-- Centered Pagination -->
<div class="row">
<div class="d-flex justify-content-center">
      <ul class="pagination">
         {% if products.has_previous %}
         <li class="page-item">
            <a class="page-link" href="?page=1" tabindex="-1">&laquo; First</a>
         </li>
         <li class="page-item">
            <a class="page-link" href="?page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a>
         </li>
         {% endif %}
         <li class="page-item active">
            <span class="page-link">
            {{ products.number }}
            </span>
         </li>
         {% if products.has_next %}
         <li class="page-item">
            <a class="page-link" href="?page={{ products.next_page_number }}">{{ products.next_page_number }}</a>
         </li>
         <li class="page-item">
            <a class="page-link" href="?page={{ products.paginator.num_pages }}">Last ({{ products.paginator.num_pages }}) &raquo;</a>
         </li>
         {% endif %}
      </ul>
</div>
</div>
{% endblock %}