{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
  {% if category %}{{ category.category_name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
{% endif %}



    <div class="row">
        <!-- Left Side (Filters and Forms) -->
        <div class="col-md-3">
            <form method="get" action="{% url 'shop:product_list' %}">
                {{ filter_form.as_p }}
                <input type="submit" value="Apply" class="btn btn-success">
            </form>

            <h3 style="margin-top: 100px">Categories</h3>
                <div class="list-group">
                        <a class="list-group-item list-group-item-action {% if not category %}active{% endif %}" href="{% url "shop:product_list" %}">All</a>
                    {% for c in categories %}
                        <a href="{{ c.get_absolute_url }}" class="list-group-item list-group-item-action {% if category and category.category_name == c.category_name %}active{% endif %}" aria-current="true">{{ c.category_name }}<span class="badge text-bg-secondary">{{ c.product_count }}</span></a>
                    {% endfor %}
                </div>
                
        </div>


        <!-- Right Side (Products) -->
        <div class="col-md-9">
            <h1>{% if category %}{{ category.category_name }}{% else %}All Products{% endif %}</h1>
            <div class="row">
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-4">
                          

                            <div class="module"></div>
                        
                        <div class="card position-relative" style="height: 400px;">
                            {% if product.company.nationality == 'EGY' %}

                            <div class="position-absolute top-0 end-0 translate-middle badge bg-danger egypt" style="margin-top: 9px; margin-right: -51px;">
                                    <span class="text-stroke" style="color: white; -webkit-text-stroke: 0.5px black;">100% Egyptian</span>
                            </div>
                            {% endif %}

                            <img src="{% if product.p_image %}{{ product.p_image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="card-img-top" alt="{{ product.product_name }}" style="height: 200px; object-fit: contain;">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.product_name }} {% if product.stock == 0 %} <span class="badge text-bg-danger">Out of Stock</span> {% endif %}</h5>
                                {% if product.discount %}
                                    <p class="card-text">EGP {{ product.cal_discount }}</p>
                                    <a href="{{ product.get_absolute_url }}" class="btn btn-dark">View Details</a>
                                    <span class="badge text-bg-secondary">{{ product.discount|mul:100 }}% Discount</span>
                                    {% else %}
                                    <p class="card-text">EGP {{ product.price }}</p>
                                    <a href="{{ product.get_absolute_url }}" class="btn btn-dark">View Details</a>
                                    <form action="{% url 'cart:cart_add' product.p_id %}" method="post">
                                            {{ cart_product_form.as_p }} {% csrf_token %}
                                            <button type="submit" class="btn btn-success">Add to Cart</button>
                                    </form>

                                {% endif %}
                             
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
