{% extends "base.html" %}
{% load static %}

{% block title %}Pay your order{% endblock %}

{% block content %}
  <h1>Order summary</h1>
  <table class="cart table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr>
          <td>
            <a href="{{ item.product.get_absolute_url }}">
              <img style="max-height: 100px;" src="{% if item.product.p_image %}{{ item.product.p_image }}
              {% else %}{% static "img/no_image.png" %}{% endif %}">
            </a>
          </td>
          <td>{{ item.product.product_name }}</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">EGP {{ item.price}}</td>
          <td class="num">EGP {{ item.get_cost }}</td>
        </tr>
      {% endfor %}
      {% if order.coupon %}
        <tr class="subtotal">
          <td>Subtotal</td>
          <td colspan="3"></td>
          <td class="num">
            EGP {{ order.get_total_cost_before_discount|floatformat:2 }}
          </td>
        </tr>
        <tr>
          <td>
            "{{ order.coupon.code }}" coupon
            ({{ order.discount }}% off)
          </td>
          <td colspan="3"></td>
          <td class="num neg">
            - EGP {{ order.get_discount|floatformat:2 }}
          </td>
        </tr>
      {% endif %}
      <tr class="total">
        <td>Total</td>
        <td colspan="3"></td>
        <td class="num">
          EGP {{ cart.get_total_price|floatformat:2 }}
        </td>
      </tr>
    </tbody>
  </table>
  <form action="{% url 'payment:process' %}" method="post">
    <input type="submit" value="Pay now">
    {% csrf_token %}
  </form>
{% endblock %}
